@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Saira:wght@300&family=Urbanist:wght@100&display=swap');

:root {
    --heading-font: "Saira";
    --paragraph-font: "Mulish", Helvetica, sans-serif;
}

/* * {
    border: 1px solid red;
} */

body {
    background-color: #DFDFDF;
    font-family: var(--paragraph-font), Helvetica, sans-serif;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

#nav-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#logotext {
    color: #DFDFDF;
    grid-column: 2/3;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;  
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #DFDFDF;
    text-decoration: none;
    padding: 50px;
    width: 100%;
}

#newsbox {
    margin-top: 50px;
    background-color: #c2c0c0;
    box-shadow: 2px 2px 2px gray;
}

#newstitle {
    padding-top: 25px;
    text-align: center;
    color: #A8577E;
    background-color: #c2c0c0;
}

#newstext {
    padding-bottom: 25px;
    text-align: center;
    color: #A8577E;
    background-color: #c2c0c0;
}

#welcomebox {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#testimonialstitle {
    text-align: center;
    color: #A8577E;
}

#contactmebox {
    margin-top: 150px;
}

#welcometitle {
    text-align: justify;
    color: #A8577E;
}

#welcometext {
    text-align: justify;
    color: #A8577E;
}

#backgroundcolorsl {
    grid-column: 3/9;
    background-color: #DFDFDF;
    margin-bottom: 150px;
    padding: 0px 50px 50px 50px;
    box-shadow: 2px 2px 4px gray;
}

#bioimage {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #c2c0c0;
    margin-bottom: 50px;
    margin-top: 100px;
}

#philimage {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #c2c0c0;
    margin-bottom: 150px;
    margin-top: 100px;
}

/* #olgrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
 } */
 
 #olbox {
    text-align: justify;
    color: #A8577E;
    grid-column: 3/4;
 }

#featuredbox {
    text-align: center;
    color: #A8577E; 
}

#welcometitlebox {
    grid-column: 3/9;
}

#welcometextbox {
    grid-column: 3/9;
    margin-bottom: 50px;
}

#backgroundcolor {
    grid-column: 3/9;
    background-color: #DFDFDF;
    margin-bottom: 150px;
    padding: 50px;
    box-shadow: 2px 2px 4px gray;
}

#backgroundcolorforslide {
    background-color: #DFDFDF;
    margin-bottom: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 4px gray;
}

#artbiobox {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#biotextbox {
    grid-column: 3/9;
    margin-bottom: 0px;
}

#philtextbox {
grid-column: 3/9;
margin-bottom: 50px;
}

#csl {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.twitter {
    width: 50px;
    padding: 10px;
}

.flicker {
    width: 70px;
    padding: 10px;
}

.instagram {
    width: 70px;
    padding: 10px;
}

.button-box{
    text-align: center;    
}

#sltitle {
    margin-top:50px;
    text-align: center;
    color: #A8577E;
}

#slimage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #c2c0c0;
}

#sltitlebox {
    grid-column: 4/9;
}

#slimagebox {
    grid-column: 4/9;
    
}

#bioimagebox {
    grid-column: 3/9;
    
}

main section{
    text-align: center;    
}

#background {
    height: 725px;
}

header {
    background-color:#CA95B0;
    display: grid;
    grid-template-columns: 150px auto;
    box-shadow: 2px 2px 2px gray;
}

nav a:hover {
        color: #4F0162;
}

footer {
    background-color: #CA95B0;
    color: #DFDFDF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 2px 2px gray;
}

#footertitle {
    font-size: 1em;
}

#footercommissions{
    font-size: .8em;
}

#footeraboutme {
    font-size: .8em;
}

.button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin: 0 auto;
    background-color: #DFDFDF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: .7em;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/* Style the container with a rounded border, grey background and some padding and margin */
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 2px 2px 2px gray;
  }
  
  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  }

footer a {
    text-decoration: none;
    color: #DFDFDF;
}

footer a:hover {
    color: #4F0162;
    text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
}

/* Slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: gray;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100%;
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text-3 {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    grid-column: 4/11;
    width: 100%;
    height: 100px;
}

iframe {
    grid-column: 2/4;
}

form {
    /* Center the form on the page */
    margin: 5% auto     ;     
    width: 50%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
 textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
   
  .button {
    /* Align buttons with the text fields */
    padding-left: 0px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin: 0 auto;
    background-color: #4F0162; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: .7em;
  }


  button:hover{
    background-color: #A8577E;
  }

  button:hover{
    background-color: #A8577E;
  }

  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #dfdfdf;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #A8577E;
    color: #dfdfdf;
  }

  .topnav {
    display: none;
  }

  


  @media only screen and (max-width: 1026px) {
    #logotext {
        display: none;
    }
    form {
        /* Center the form on the page */
        margin: 5% auto     ;     
        width: 100%;
        /* Form outline */
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
      }

      nav {
        display: none;
      }

      .topnav {
        display: block;
      }

      #nav-grid {
        display: none;
      }

      #footertitle {
        font-size: .7em;
      }
      #footercommissions {
        font-size: .6em;
      }
      #footeraboutme {
        font-size: .6em;
      }

      .instagram {
        width: 50px;
      }

      .flicker{
        width: 50px;
      }

      #slimage {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid #c2c0c0;
    }

    #bioimage {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid #c2c0c0;
    }

    #welcometitle {
        text-align: left;
    }

    #philimage {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 20px solid #c2c0c0;
        margin-bottom: 150px;
    }
}

@media only screen and (max-width: 415px) {
    #logotext {
        display: none;
    }
    form {
        /* Center the form on the page */
        margin: 5% auto     ;     
        width: 100%;
        /* Form outline */
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
      }

      nav {
        display: none;
      }

      .topnav {
        display: block;
      }

      #nav-grid {
        display: none;
      }

      #footertitle {
        font-size: .5em;
      }
      #footercommissions {
       display: none;
      }
      #footeraboutme {
        font-size: .5em;
        display: none;
      }

      .instagram {
        width: 50px;
      }

      .flicker{
        width: 50px;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
      }

      #slimage {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid #c2c0c0;
    }

    #bioimage {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid #c2c0c0;
    }

    #philimage {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 20px solid #c2c0c0;
        margin-bottom: 150px;
    }


}

@media only screen and (max-width: 600px) {

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
      }

      #welcometext {
        font-size: 20px;
        text-align: left;
      }


}